<!-- partials/navigation.ejs -->
<nav class="menu">
    <a class="menu-item" href="/transportation">교통</a>
    <a class="menu-item-active" href="/contact">연락</a>
  </nav>
  <!-- @TODO: 반응형 메뉴 버튼을 생성하십시오 -->
  <!-- 이것은 나중에 JavaScript에서 사용될 것이다 -->
  <div id="menu-button">Menu</div>